/*MAIN*/

/*CAROUSSEL*/
.carrouselElements {
    display: block;

    width: 25%;

    padding-top: 10%;
    margin-left: 10%;
}

.carrouselTitre {
    font-family: 'Caviar Dreams';
    text-align: left;
    font-size: 1.5em;
    
    color: white;
}

.carrouselDecouvrirPlus {
    margin-top: 5%;
}

.carrouselFleche, .carrouselLien {
    display: inline-block;
}

.carrouselFleche {
    width: 15px;
    height: 15px;
}

.carrouselLien {
    color: #00B9F0;
    text-decoration: underline;
    font-size: 1.2em;
    font-family: 'Biko';
}

.carrouselLien:hover {
    color: #0099F0;
}

#carrouselImgs {
    background-color: black;
    background-image: url("./images/carrousel/1.png");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: auto;

    padding-bottom: 1%;
}

.carrouselBoutons {
    display: flex;
    justify-content: center;

    height: 60%;
}

.carrouselBouton {
    width: 1.5em;
    height: 1.5em;

    background-color: transparent;
    border-radius: 100%;
    border: solid white;
    border-width: 2px;

    margin-top: 19%;
    margin-right: .5%;
    margin-left: .5%;
}

/*TITRES*/
.titres {
    font-family: 'Caviar Dreams';
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;

    margin-top: 2%;
    margin-bottom: 2%;
}

/*PUBLICITE*/
.pub {
    display: flex;
    justify-content: center;

    margin-bottom: 3%;
}

/*ENGAGEMENTS*/
#engagements {
    display: inline-block;
    width: 90%;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.engagementsTexte {
    width: 50%;
}

.engagementsTitre {
    margin-bottom: 5%;
}

.engagementsTitre h3 {
    font-family: 'Caviar Dreams';
    font-size: 1.25em;
}

.engagementsTexte p {
    font-family: 'Biko';
    font-size: 1em;

    margin-top: 2%;
}

.engagementsImage {
    display: flex;
    justify-content: right;
}

.engagementsImage img {
    width: auto;
    height: 20em;

    margin-top: -17.5em;
}