/*MAIN*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Caviar Dreams';
    font-size: 3em;
    text-align: center;

    color: black;

    margin-top: 2%;
    margin-bottom: 2%;
}

label {
    font-family: 'Caviar Dreams';
    font-size: 1em;
    text-align: left;

    color: black;

    margin-top: 2%;
    margin-bottom: 2%;
}

input {
    font-family: 'Biko';
    font-size: 1em;
    text-align: left;

    color: black;

    margin-top: 2%;
    margin-bottom: 2%;
}

.produits {
    font-family: 'Caviar Dreams';
    font-size: 2em;
    font-weight: bold;

    display: flex;
    justify-content: center;

    color: black;
}

.submit {
    background-color: #f5d001;

    width: auto;

    padding-top:    2%;
    padding-bottom: 2%;
    padding-right:  2%;
    padding-left: 15%;
    
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.15);
    
    border-radius: 5px;
    border: none;

    text-align: center;
    font-family: 'Biko';
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    
    color: white;
}

.submitImg {
    width: 25px;
    height: 25px;

    transform: translateX(20%) translateY(160%);
}

.submit:hover {
    background-color: #f5d901;

    cursor: pointer;
}

.submitImg:hover {
    cursor: pointer;
}