/*EVERYTHING*/
* {
    margin: 0;
}

body {
    background-color: white;
}

/*HEADER*/
header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    justify-content: center;
}

header nav li {
    list-style: none;
    margin-left: 2%;
    margin-right: 2%;
}

.headerLink {
    padding-top: 45px;
    margin-bottom: -50px;
}

#headerLink:hover {
    text-decoration: underline;
    color: #00B9F0;
}

#headerLink {
    text-decoration: none;
    font-family: 'Caviar Dreams';
    color: black;
    text-align: center;
    font-size: 1em;
}

#logo img {
    width: 100px;
    height: 100px;
}

.filAriane {
    font-family: 'Biko';
    background-color: #00B9F0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.filAriane h4, .filAriane a {
    display: inline-block;
    color: black;
}

.filAriane a:hover {
    color: #F5F501;
}




/*FOOTER*/
footer {
    margin-top: 2%;
    padding-bottom: 1%;
}

#footer {
    background-color: #00B9F0;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

.footerLogo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 0.5%;
    margin-bottom: 2%;
}

.footerLogo img {
    width: 10%;
    height: auto;

    background-color: white;

    border-radius: 10%;
}

.reseauxSociaux {
    display: flex;
    justify-content: center;
}

.reseauxSociaux h2 {
    font-family: 'Caviar Dreams';
    font-size: 2em;
}

.reseauxBoutons {
    margin-bottom: 2%;
}

.reseauxBoutons ul {
    list-style: none;
    width: 100%;
    margin-top: -3%;
    margin-left: -20%;
}

.footerReseauxLink {
    display: inline-block;
    margin-right: 3%;
}

.footerReseauxLink img {
    width: 50px;
    border: 3px solid black;
    border-radius: 100%;
}

.plansite nav {
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.plansite nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 17.5%;
}

.footerLink {
    margin-left: 2%;
    margin-right: 2%;
}

#footerLink {
    text-decoration: none;
    font-family: 'Caviar Dreams';
    color: black;
    text-align: center;
    font-size: 1em;
}

#footerLink:hover {
    text-decoration: underline;
    color: #F5F501;
}

#watermark {
    font-family: 'Caviar Dreams';
    color: black;
    text-align: right;
    font-size: 1em;
    width: 30%;
    margin-right: 2.5%;
}

.prevention {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.prevention h4 {
    font-family: Biko;
    color: black;
    text-align: center;
    font-size: .75em;
}