/*MAIN*/

/*TITRE*/
.titre {
    display: flex;
    justify-content: center;
}

.titreEtParagraphe {
    display: block;

    margin-top: 2%;
    margin-bottom: 2%;
}

.titreEtParagraphe h1 {
    font-family: 'Caviar Dreams';
    font-size: 3em;

    text-align: center;
    color: black;

    margin-bottom: 10%;
}

.titreEtParagraphe p {
    font-family: 'Biko';
    font-size: 1em;

    text-align: center;
    color: black;

    margin-top: -7%;
    margin-left: 25%;
    margin-right: 25%;

    width: 50%;
}

/*BIERE*/
.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;

    column-gap: 2%;

    margin-left: 5%;
    margin-right: 5%;
}

#biere {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 10%;
}

#biere img {
    max-width: 100%;
    height: 475px;

    transform: translateX(0%) translateY(15%);
}

#biere h2 {
    font-family: 'Caviar Dreams';
    font-size: 1.5em;

    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;
}

#biere p {
    width: 80%;

    text-align: center;

    font-family: 'Biko';
    font-size: 1em;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
}

#biere .biereLink {
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;
}

#biere .biereLink img {
    width: 15px;
    height: 15px;
}

#biere .biereLink a {
    text-align: left;

    font-family: 'Biko';
    font-size: 1em;

    color: #00B9F0;
    text-decoration: none;
}

#biere .biereLink a:hover {
    color: #0099F0;
    text-decoration: underline;
}